*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/*     font-family: "Open Sans", sans-serif; */
}

h1, h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    letter-spacing: 0.6px
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

.upper{
    background-image: url(../saurav_img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 100%;
    text-align: center;
    color: aliceblue;
    /* vertical-align: middle; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.product{
    left: 20%;
    align-items: center;
}

.product-left {
    max-width: 80%;
    padding: 50px;
    align-items: right;
    left: 10%;
    padding-right: 0%;
}

.product-left img{
    max-width: 80%;
}

.product-right{
    text-align: left;
    padding-left: 50px;
    /* padding: 100px; */
    vertical-align: middle;
    padding-top: 100px;
    padding-right: 100px;
}
.product-right p{
    /* font-weight: 150; */
    font-size: 18px;
}

.container{
    width: 100%;
    text-align: center;
    background-color: aliceblue;
}

.card_section{
    justify-content: center;
    align-items: center;
    /* margin: 10px; */
}
.card-row{
    /* width: max-content; */
    /* display: flex;*/
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
} 
.cards{
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    background-color: #f8f4f4;
    /* background-color: rgb(243, 241, 247); */
}

.btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: auto;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.btn:hover {
    background-color: #45a049;
}

.cards:hover, .btn:hover, .btn2:hover{
    transform: translateY(-0.3%);
    box-shadow: 0 1rem 1rem rgb(87, 85, 85);
    transition: 0.75s;

}



[class*="col-"] {
    float: left;
    /* padding: 5px; */
    /* text-align: center; */
}
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  @media only screen and (max-width: 600px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
    .product-left img{
        max-width: 50%;

    }
  } 
