*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/*     font-family: "Open Sans", sans-serif; */
}

h1, h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    letter-spacing: 0.6px
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

.upper{
    background-image: url(../saurav_img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 100%;
    text-align: center;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}
.who-left{
    text-align: left;
    margin-left: 0%;
    padding: 50px;
    justify-content: center;
}

.who-right{
    background-image: url(../saurav_img/service2/who.jpg);
    background-size: cover;
    float: inline-end;
    height: 350px;
    padding: 20px;
}
/* .btn{
    background-color: yellow;
    border-radius: 50px;
    letter-spacing: 2px;
    padding: 10px;
    margin: 4px;
    cursor: pointer;
} */
.btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  /* width: 100%; */
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}
.what{
    background-color: rgb(218, 214, 214);
}
.what h1{
    align-items: center;
    text-align: center;
}

.do1{
    background: whitesmoke;
    text-align: center;
    justify-content: center;
    border: 1px;
    border-radius: 10px;
    padding: 10px;
}
.slider{
  background: whitesmoke;
  align-items: center;
}

.slider h1{
  text-align: center;
  font-size: 40px;
  color: black;
}

.slide-row{
  display: flex;
  width: 3200px;
  transition: 0.5s;
}
.slide-col{
  width: 800px;
  height: 350px;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.btn2{
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 4px;
  border-radius: 15px;
  background: black;
  cursor: pointer;
  transition: 0.5s;
}
.active{
  width: 45px;
}
.user-img{
  position: absolute;
  /* top: 0; */
  right: 0;
  height: 100%;
}
.user-img img{
  margin-top: 110px;
  height: 40%;
  border-radius: 50%;
}


.user-text{
  background: #2d3a59;
  /* width: 520px;
  height: 270px; */
  position: absolute;
  left: 20%;
  /* top: 50%;
  transform: translateY(-50%); */
  border-radius: 10px;
  color: #d3d4d6;
  padding: 35px;
  box-sizing: border-box;
  /* z-index: 2; */
}

.user-text p{
  font-size: 18px;
  line-height: 24px;
  margin: 35px 0 5px;
}

.test-cont {
  width: 800px;
  height: 400px;
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  align-items: center;
  text-align: center;
}


.indicator{
  text-align: center;
  position: absolute;
  /* left: 50%;
  transform: translateX(-50%);
  bottom: -50px; */
}


.testimonial{
  left: 10%;
  /* width: 100%;
  height: 100%; */
  overflow: hidden;
}



[class*="col-"] {
    float: left !important;
    padding: 25px ;
}
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  @media only screen and (max-width: 600px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
    .slide-row{
      display: flex;
      flex-direction: row;
      /* width: 2000px; */
      transition: 0.5s;
    }
    .slide-col{
      width: 500px;
      height: 350px;
      position: relative;
      text-align: center;
      align-items: center;
      justify-content: center;
    }
    .test-cont {
      width: 500px;
      height: 400px;
      /* position: absolute; */
      /* top: 50%;
      left: 50%; */
      /* transform: translate(-50%, -50%); */
      align-items: center;
      text-align: center;
    }
    .testimonial{
      left: 0%;
    }
    .user-img{
      display:none;
    }
    
    .user-text{
      /* left: 0%; */
      width: 400px;
      background: #2d3a59;
      /* width: 520px;
      height: 270px; */
      position: absolute;
      left: 15%;
      right: 15%;
      /* top: 50%;
      transform: translateY(-50%); */
      border-radius: 10px;
      color: #d3d4d6;
      /* padding: 35px; */
      box-sizing: border-box;
      /* z-index: 2; */
    }

    .user-text p{
      font-size: 18px;
      line-height: 24px;
      /* margin: 35px 0 5px; */
    }
  } 
