*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/*     font-family: "Open Sans", sans-serif; */
}

h1, h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    letter-spacing: 0.6px
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

.upper{
    background-image: url(../saurav_img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 100%;
    text-align: center;
    color: aliceblue;
    /* vertical-align: middle; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.form{
    text-align: center;
    font-weight: 800;
}
  
  .row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    margin: 0 -16px;
  }

  
  .col-2 {
    -ms-flex: 50%; 
    flex: 50%;
  }
  
  .col-1 {
    -ms-flex: 75%; 
    flex: 75%;
  }
  
  
  .col-2,
  .col-1 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  input[type=textarea]{
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }

  input[type=submit] {
      align-items: center;
      text-align: center;
      left: 40%;

  }
  
  .btn {
    text-align: center;
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    left: 40%;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  a {
    color: #2196F3;
  }
  
  hr {
    border: 1px solid lightgrey;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive design */
  @media (max-width: 600px) {
    .row {
      flex-direction: column;
    }
  }






[class*="col-"] {
    float: left;
    /* padding: 5px; */
    /* text-align: center; */
}
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  @media only screen and (max-width: 600px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  } 
