*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/*     font-family: "Open Sans", sans-serif; */
}

h1, h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    letter-spacing: 0.6px
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

.upper{
    background-image: url(../saurav_img/shop4/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 100%;
    text-align: center;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

input{
    display: none;
}

.container{
    width: 100%;
    text-align: center;
    background-color: aliceblue;
}

.card_section{
    justify-content: center;
    align-items: center;
    /* margin: 10px; */
}
.card-row{
    /* width: max-content; */
    /* display: flex;*/
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
} 
.cards{
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    background-color: rgb(230, 227, 236);
}

.cards:hover{
    transform: translateY(-0.3%);
    box-shadow: 0 1rem 1rem rgb(87, 85, 85);
    transition: 0.75s;

}
/* .top_content{
    background-color: rgb(243, 243, 243);
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightgray;
} */
.more{
    align-items: center;
}
.btn{
    padding: 10px;
    background-color: #04AA6D;
    color: white;
    cursor: pointer;
    transition: 0.4s;
    border: none;
    border-radius: 10px;
    margin: 2px;
    
    padding-left: 12px;
    padding-right: 12px;
    font-weight: 300;
    font-size: large;
}

.btn2 {
    padding: 10px;
    background: rgb(97, 96, 196);
    cursor: pointer;
    transition: 0.5s;
    border-radius: 10px;
    margin: 5px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: large;
    font-weight: 300;

}
.btn:hover, .btn2:hover{
    transform: translateY(-0.3%);
    box-shadow: 0 1rem 1rem rgb(87, 85, 85);
    transition: 0.75s;
    background-color: #45a049;
}

[class*="col-"] {
    float: left;
    /* padding: 5px; */
    text-align: center;
}
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  @media only screen and (max-width: 600px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
    
  } 
