*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/*     font-family: "Open Sans", sans-serif; */
}

h1, h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    letter-spacing: 0.6px
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

.upper{
    background-image: url(../saurav_img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 100%;
    text-align: center;
    color: aliceblue;
    /* vertical-align: middle; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.content{
    align-items: center;
    text-align: center;
}
table {
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
.table-box
{
    margin: 50px auto;
}

.table-row{
    display: table;
    width: 80%;
    margin: 10px auto;
    font-family: sans-serif;
    background: transparent;
    padding: 12px 0;
    color: #555;
    font-size: 13px;
    box-shadow: 0 1px 4px 0px rgba(0,0,50,0.3);
}
.table-head{
    background: #8665f7;
    box-shadow: none;
    color: #fff;
    font-weight: 600;
}
.table-head .table-cell{
    border-right: none;
}
.table-cell{
    display: table-cell;
    width: 20%;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid #d6d4d4;
    vertical-align: middle;
}
.table-row .first-cell{
    text-align: left;
    max-width: 5px;
    padding-left: 10px;
}
.last-cell{
    border-right: none;
}
input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.code{
    max-width: 60%;
    align-items: center;
    margin-left: 20%;
    margin-right: 10%;
    text-align: center;
    justify-content: center;
}
.btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 25%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}
.btn:hover {
    background-color: #45a049;
}

.btn2 {
    background-color: #96f560;
    color: black;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
} 
.btn2:hover {
    background-color: #a99df0;
}
.emptyCart {
    text-align: center;
    font-size: xx-large;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: normal;
}

@media only screen and (max-width: 600px) {
  .table-row {
    font-size: 11px;
  }
}
