.footer * {
  box-sizing: border-box;
}
.footer {
  background-color: #151515;
  display: flex;
  justify-content: space-around;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  padding: 20px 10px;
}
.footer h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
  letter-spacing: 0.6px;
}
.footer .col:nth-child(1) {
  width: 16%;
}
.footer .col:nth-child(2) {
  width: 170px;
}
.footer .col:nth-child(3) {
  width: 100%;
  max-width: 440px;
}
.footer .col:nth-child(4) {
  width: 255px;
}
.footer .col:nth-child(2) .links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.footer .col:nth-child(2) a {
  color: #fff586;
  text-decoration: none;
  padding: 5px 0;
}
.footer .col:nth-child(2) a:hover {
  font-weight: normal;
}
.footer .col:nth-child(2) a::before {
  content: "\27A4";
  color: white;
  position: relative;
  left: -5px;
  font-size: large;
}

.footer .col:nth-child(3) .thumbnails .thumbCol {
  display: flex;
  width: 100%;
}
.footer .col:nth-child(3) .thumbCol img::after{
  content: 'lol';
  background-color: violet;
  width: 100%;
  height: 100%;
}
.footer .col:nth-child(3) img {
  width: 25%;
  padding: 5px;
}
.footer .col:nth-child(4) form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.footer .col:nth-child(4) .inp {
  border-radius: 50px;
  border: none;
  font-size: medium;
}
.footer .col:nth-child(4) input.inp {
  padding: 15px 10px;
  max-width: 170px;
  background-color: #838386;
}
.footer .col:nth-child(4) button.inp {
  font-family: "Roboto Condensed", sans-serif;
  padding: 15px 10px;
  background-color: #fff586;
}
.footer .col:nth-child(4) input:focus {
  outline: none;
}
.footer .col:nth-child(4) input::placeholder {
  color: white;
}

@media screen and (max-width:1150px){
  .footer {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .col {
    width: 50% !important;
    padding: 0 10px;
  }
  .footer .col:nth-child(3) {
    max-width:fit-content;
  }
}
@media screen and (max-width:600px) {
  .col {
    width: 100% !important;
  }
}


/* Gallery Modal Box */
.modal {
  display: none;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}
.mySlides {
  display: none;
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1100px;
}
.modal .prev, .modal .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0;
  padding: 15px 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.modal .next {
  left: auto;
  right: 0;
}
.modal .prev:hover, .modal .next:hover {
  background-color: rgb(121, 121, 121);
}
.slideNumber {
  color: white;
  font-size: large;
  padding: 5px;
}
#closeBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 3;
  cursor: pointer;
  font-size: xx-large;
  color: white;
  padding: 0 10px;
  border-radius: 50%;
  transition: 0.5s;
}
#closeBtn:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}