/* container of navigation bar/ navigation bar includer div */
@media screen and (max-width: 900px) {
  #navigationBar {
    position: fixed;
    z-index: 2;
    height: 100%;
  }
}
.slideShow {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.slideShow .slide {
  color: white;
  width: 100%;
  height: 750px;
  background-position: center;
  background-size: cover;
  display: none;
}
.slideShow .slide .slideContent {
  width: 50%;
  position: relative;
  top: 50%;
  transform: translate(20%, -50%);
  line-height: 200%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.slideContent h1,
.upload-book .right h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
  letter-spacing: 0.6px;
}
.slideContent button,
.custom-file-upload {
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-size: x-large;
  background-color: #fff586;
  font-family: "Roboto Condensed", sans-serif;
}
.slideContent button:hover,
.custom-file-upload:hover,
.twitterSec button[type="submit"]:hover,
.news-review > div:nth-of-type(3) > a:hover {
  transform: translateY(-0.3%);
  box-shadow: 0 1rem 1rem rgb(87, 85, 85);
  transition: 0.75s;
}
.slideShow .slide:nth-child(3) {
  background: url(../aakash_img/slide01.jpg);
  background-position: center;
  background-size: cover;
}
.slideShow .slide:nth-child(4) {
  background: url(../aakash_img/slide02.jpg);
  background-position: center;
  background-size: cover;
}
.slideShow .slide:nth-child(5) {
  background: url(../aakash_img/slide03.jpg);
  background-position: center;
  background-size: cover;
}
.slideShow .prev,
.slideShow .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: inherit;
  padding: 15px 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.slideShow .next {
  left: auto;
  right: 0;
  border-radius: 3px 0 0 3px;
}
.slideShow .prev:hover,
.slideShow .next:hover {
  background-color: rgb(121, 121, 121);
}
.slideActive {
  animation: fadeIn 4s ease-in-out forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0.1;
    transform: translateX(10%);
  }
  25% {
    opacity: 1;
    transform: translateX(0);
  }
  75% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0.1;
    transform: translateX(10%);
  }
}

/* small features (Free shipping, Easy Returns...) */
.Easy {
  display: flex;
  background-color: #f5f5f5;
  color: #838386;
  padding: 80px 0;
  line-height: 175%;
}
.Easy h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
  color: initial;
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0;
}
.Easy .col {
  width: 25%;
  padding: 0 10px;
}
.Easy .easyIcon {
  font-size: xx-large;
  margin-right: 10px;
}
.Easy .col > div {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .Easy {
    flex-wrap: wrap;
  }
}

/* Twitter section */
.twitterSec {
  display: flex;
  padding: 100px 10px;
  background-image: url(../aakash_img/bgimageTwitter.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}
.twitterSec .left,
.twitterSec .right {
  width: 50%;
  padding: 0 60px;
  font-size: larger;
}
.twitterSec h1,
.news-review h1,
.blog_section h1 {
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 1.5px;
  font-size: xx-large;
}
.twitterSec .left hr,
.twitterSec .right hr,
.news-review hr,
.blog_section hr {
  float: left;
  width: 100px;
  background-color: #fff261;
  border: none;
  height: 4px;
}
.twitterSec::after {
  content: "";
  clear: both;
  display: table;
}
.twitterSec input[name="email"],
button[type="submit"] {
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-size: large;
  padding: 20px;
}
.twitterSec input[name="email"] {
  background-color: rgb(121, 121, 121);
  width: 100%;

  font-size: large;
  color: white;
}
.twitterSec input[name="email"]::placeholder {
  color: white;
}
.twitterSec button[type="submit"] {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #fff586;
  width: 40%;
  /* cursor: pointer; */
  min-width: 150px;
  /* font-size: large; */
  letter-spacing: 1.5px;
}
.twitterSec .right .fa-twitter {
  margin-top: 40px;
  color: #00bbf5;
  font-size: xx-large;
  display: block;
}
@media screen and (max-width: 800px) {
  .twitterSec .left,
  .twitterSec .right {
    width: 100%;
  }
  .twitterSec {
    flex-wrap: wrap;
  }
}

/* New and reviews section */
.news-review {
  background-color: #f5f5f5;
  padding: 100px 20px;
}
.news-review hr {
  background-color: black;
  float: none;
}
.news-review .content {
  display: flex;
  justify-content: space-evenly;
  padding: 50px 20px;
}
.news-review .content .left,
.news-review .content .right {
  width: 45%;
}
.news-review .content .left {
  background-color: white;
  border-radius: 5px;
  padding-bottom: 20px;
  overflow: hidden;
}
.news-review .content .left .imageLeft {
  position: relative;
}
.news-review .content .left .imageLeft img {
  width: 100%;
  filter: brightness(0.5);
}
.news-review .content .left .imageLeft div:first-of-type {
  color: white;
  position: absolute;
  top: 25px;
  left: 25px;
}
.news-review .content .left .imageLeft div:first-of-type a {
  color: white;
  text-decoration: none;
}
.news-review .content .left .imageLeft div:first-of-type a:hover {
  color: #fff261;
}
.news-review .content .left .contentLeft {
  margin: 10px;
}
.news-review .content .left .contentLeft > p:first-of-type {
  display: inline-block;
  background: #fff261;
  border-radius: 50px;
  padding: 5px 10px;
}
.news-review .content .left .contentLeft > a:nth-of-type(1) {
  display: inline-block;
  font-size: 1.5em;
  color: black;
  text-decoration: none;
}
.news-review .content .left .contentLeft > a:nth-of-type(1):hover {
  color: rgb(90, 90, 90);
}
.news-review .content .left .contentLeft > a:nth-of-type(2),
.news-review > div:nth-of-type(3) > a {
  text-decoration: none;
  font-size: 1em;
  font-family: "Roboto Condensed", sans-serif;
  background: #fff261;
  border-radius: 50px;
  border: none;
  color: black;
  padding: 10px 20px;
}
.news-review .content .right .ques {
  padding: 15px 0;
}
.news-review .content .right .ques a {
  color: black;
  font-weight: 400;
  text-decoration: none;
}
.news-review .content .right .ques a:hover {
  color: rgb(90, 90, 90);
}

@media screen and (max-width: 800px) {
  .news-review .content {
    flex-wrap: wrap;
  }
  .news-review .content .left,
  .news-review .content .right {
    width: 100%;
  }
}

/* What people say / Blog */
.blog_section,
.upload-book {
  display: flex;
}
.blog_section .left,
.upload-book .left,
.upload-book .right,
.blog_section .right {
  width: 50%;
}
.blog_section .right,
.upload-book .right {
  background: url(../aakash_img/whatpeepsay_right_bg.jpg);
  background-position: center;
  padding-bottom: 80px;
  padding-top: 80px;
}
.blog_section .left .content {
  width: 80%;
  margin: auto;
  padding: 100px 0;
}
.blog_section .left hr {
  background: black;
}
.blog_section .left .content .blogCard {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 10px #c5c5c5;
}
.blog_section .left .content .main .top-part {
  display: flex;
}
.blog_section .left .content .main .dp-container {
  width: 20%;
  padding: 10px;
  display: flex;
  align-items: center;
}
.blog_section .left .content .main .dp-container img {
  border-radius: 50%;
}
.blog_section .left .content .main .dp-text {
  width: 60%;
}
.blog_section .left .content .main .quote p {
  width: 100%;
  padding: 10px 20px 30px 20px;
}
.blog_section .left .content .side {
  background: #fff586;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.fa-quote-right {
  color: rgb(121, 121, 121);
  font-size: xx-large !important;
}
.blog_section .left .content .side button {
  border-radius: 50%;
  border: none;
  display: block;
  width: 30px;
  margin: 10px;
  height: 30px;
  line-height: 10px;
  padding: inherit;
  background: black;
  color: #fff586;
}
.blog_section .right .fa {
  color: #fff586;
}
.blog_section .right .row {
  display: flex;
  justify-content: space-evenly;
  font-size: xx-large;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}
.blog_section .right .row p {
  width: 50%;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .blog_section,
  .upload-book {
    flex-wrap: wrap;
  }
  .blog_section .left,
  .upload-book .left,
  .upload-book .right,
  .blog_section .right {
    width: 100%;
  }
  .blogCard {
    flex-wrap: wrap;
  }
  .blogCard .main-container,
  .blogCard .side {
    width: 100%;
  }
  .blog_section .left .content .side {
    flex-direction: row;
    justify-content: space-between;
  }
  .blog_section .left .side > .blog-btn {
    display: flex;
  }
  .blog_section .right .row {
    flex-direction: column;
  }
  .blog_section .right .row p {
    margin-left: auto;
    margin-right: auto;
  }
}

.upload-book {
  background-image: linear-gradient(black, black),
    url(../aakash_img/image05.jpg);
  background-blend-mode: screen;
  background-size: cover;
}
.upload-book .right {
  padding: 50px;
  background: rgba(255, 255, 255, 0.7);
}
.upload-book .right .custom-file-upload {
  display: inline-block;
}
#filePath {
  background-color: rgb(87, 85, 85);
  border-radius: 5px;
  padding: 5px;
  color: white;
}

@media screen and (max-width: 500px) {
  .upload-book .right .custom-file-upload {
    font-size: small;
  }
}
